.focus-projet-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  h3 {
    margin-bottom: 0;

    @media (min-width: 992px) {
      display: inline;
      font-size: 22px;
    }
  }
}

.focus-projet {
  span {
    text-align: right;
    font-family: Satoshi;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-right: 10px;

    @media (min-width: 992px) {
      font-size: 22px;
    }
  }
}

.projets-index {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.focus-projet-text {
  margin-bottom: 55px;
}

.hover-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.hover-image {
  display: none;

  @media (min-width: 992px) {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.hover-image-container img {
  width: 30%;
  height: auto;
}

.projets-section {
  height: 100%;
}
