// .header-content {
//   height: 100vh;
// }
header {
  margin-bottom: 115px;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  margin-top: 20%;

  svg {
    align-self: center;
    // margin-top: 150px;
    position: sticky;
    bottom: 0;
  }
}

@media (max-width: 768px) {
  .header-text svg {
    height: 50%;
  }
}

.header-text-fonction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 27px;
}

@media (max-width: 768px) {
  .header-text-fonction {
    margin-top: 5px;
  }
}
.header-nav-mobile {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 77px;

  @media (min-width: 992px) {
    display: none;
  }
}

.header-nav-desktop {
  display: none;
  flex-direction: row;
  justify-content: center;
  width: 100%;

  a {
    margin-right: 6%;
  }

  @media (min-width: 992px) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.header-nav :last-child {
  margin-right: 0;
}
