.swiper-container {
  margin: 80px auto 70px;
  overflow-x: hidden;
}

.slider-arrow {
  position: relative;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.carousel-prev,
.carousel-next {
  z-index: 10;
  position: absolute;
  cursor: pointer;
  font-family: Satoshi;
  font-size: 50px;
  font-weight: 300;
}

.carousel-prev {
  left: 10px;
}

.carousel-next {
  right: 10px;
}

.swiper-pagination {
  position: absolute;
  bottom: 0;
}
