/* ====================================
// css variables
// ==================================== */

:root {
  --main-text-color: #4c4c4c;
  --white-color: #fffcf3;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;

  background-color: var(--white-color);
}

.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

@font-face {
  font-family: "Bastardo Grotesk";
  src: url("/src/fonts/BastardoGrotesk-Thin.woff2") format("woff2"),
    url("/src/fonts/BastardoGrotesk-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bastardo Grotesk";
  src: url("/src/fonts/BastardoGrotesk-Light.woff2") format("woff2"),
    url("/src/fonts/BastardoGrotesk-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bastardo Grotesk";
  src: url("/src/fonts/BastardoGrotesk-Regular.woff2") format("woff2"),
    url("/src/fonts/BastardoGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bastardo Grotesk";
  src: url("/src/fonts/BastardoGrotesk-Bold.woff2") format("woff2"),
    url("/src/fonts/BastardoGrotesk-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bastardo Grotesk";
  src: url("/src/fonts/BastardoGrotesk-Semibold.woff2") format("woff2"),
    url("/src/fonts/BastardoGrotesk-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/src/fonts/Satoshi-Light.woff2") format("woff2"),
    url("/src/fonts/Satoshi-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/src/fonts/Satoshi-LightItalic.woff2") format("woff2"),
    url("/src/fonts/Satoshi-Light.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/src/fonts/Satoshi-Medium.woff2") format("woff2"),
    url("/src/fonts/Satoshi-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/src/fonts/Satoshi-MediumItalic.woff2") format("woff2"),
    url("/src/fonts/Satoshi-MediumItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

.highlight {
  border: orange;
  background-color: yellow;
}

h1 {
  font-family: "Bastardo Grotesk";
  font-size: 140px;
  font-weight: 400;
  font-style: normal;
  line-height: 121px;
  color: #333;
}

@media (max-width: 768px) {
  h1 {
    font-size: 64px;
    line-height: 60px;
  }
}

h2 {
  font-family: "Satoshi";
  font-size: 53px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  color: var(--main-text-color);

  span {
    font-style: italic;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 24px;
  }
}

a {
  color: var(--main-text-color);
  font-family: "Satoshi";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: none;
}
